.container {
	width: 100%;
	max-width: 46rem;
	height: calc(100vh - 12.5rem);
	margin: 0 auto;
	position: relative;
}

.newTaskForm {
	width: 100%;
	max-width: 46rem;
	height: 3.375rem;
	position: absolute;
	inset: 0;
	top: calc(-3.375rem / 2);

	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

.newTaskForm input {
	flex: 1;
	height: 100%;
	max-height: 3.25rem;
	padding: 0.5rem 1rem;
	background-color: var(--gray-500);
	border: 1px solid var(--gray-700);
	border-radius: 8px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.375rem;
	transition: 0.3s ease;
	outline: none;
}

.newTaskForm input:focus {
	color: var(--gray-100);
	border-color: var(--purple-dark);
}

.newTaskForm button {
	height: 100%;
	max-height: 3.25rem;
	border: none;
	border-radius: 8px;
	padding: 1rem;
	color: var(--gray-100);
	background-color: var(--blue-dark);
	font-size: 0.875rem;
	font-weight: 700;
	opacity: 0.9;
	transition: 0.3s ease;

	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

.newTaskForm button:is(:hover, :focus) {
	opacity: 1;
	background-color: var(--blue);
}

.tasks {
	width: 100%;
	height: auto;
	padding-bottom: 5rem;

	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.tasksHeader {
	width: 100%;
	padding-top: 5.6875rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tasksInfo {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

.tasksInfo p {
	color: var(--blue);
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1rem;
}

.tasksInfo span {
	padding: 0.125rem 0.5rem;
	border-radius: 14px;
	color: var(--gray-200);
	background-color: var(--gray-400);
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 0.9375rem;
}

@media (max-width: 1024px) {
	html,
	body {
		font-size: 93.75%; /* 1rem = 15px */
	}
}

@media screen and (max-width: 760px) {
	.container,
	.newTaskForm {
		padding: 0 1rem;
	}
}

@media screen and (max-width: 360px) {
	.newTaskForm {
		height: auto;
		row-gap: 0.5rem;
		flex-direction: column;
	}

	.newTaskForm input {
		width: 100%;
	}

	.newTaskForm button {
		width: 100%;
		justify-content: center;
	}

	.tasksHeader {
		padding-top: 8.75rem;
	}
}
